{% extends 'base.html.twig' %}

{% block title %}IMPORT PRODUCT{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger"> 
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success"> 
        {{ message }}
    </div>
{% endfor %}


{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}


{% endif %}
{% endblock %}
