<table class="table table-hover">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Product_image</th>
                <th>Product_name</th>
                <th>Brand</th>
                <th>Colour</th>
                <th>Engine</th>
                <th>Fuel_type</th>
                <th>Milage</th>
               <!-- <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>Stearing_side</th>
                <th>Capacity</th>
                <th>TankSize</th>
                <th>Stepney</th>
                <th>WheelType</th>
                <th>Trunk</th>
                <th>EnginePower</th>
                <th>EngineOilCapacity</th>
                <th>CoolingSystemType</th>
                <th>CoolantType</th>
                <th>AirbagCount</th>
                <th>PowerWindows</th>
                <th>Sunroof</th>-->
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in myproducts %}
            <tr>
                <td>{{ product.id }}</td>
                <td><img src="/uploads/images/{{ product.productImage }}" width="150" height="120"></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.colour }}</td>
                <td>{{ product.engine }}</td>
                <td>{{ product.fuelType }}</td>
                <td>{{ product.milage }}</td>
              <!--  <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.status }}</td>
                <td>{{ product.stearingSide }}</td>
                <td>{{ product.capacity }}</td>
                <td>{{ product.tankSize }}</td>
                <td>{{ product.stepney ? 'Yes' : 'No' }}</td>
                <td>{{ product.wheelType }}</td>
                <td>{{ product.trunk ? 'Yes' : 'No' }}</td>
                <td>{{ product.enginePower }}</td>
                <td>{{ product.engineOilCapacity }}</td>
                <td>{{ product.coolingSystemType }}</td>
                <td>{{ product.coolantType }}</td>
                <td>{{ product.airbagCount }}</td>
                <td>{{ product.powerWindows ? 'Yes' : 'No' }}</td>
                <td>{{ product.sunroof ? 'Yes' : 'No' }}</td> -->
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}"><i class="fa fa-eye" style="color: red"></i>show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}"><i class="fa fa-pencil" style="color: red"></i>edit</a>
                    <a href="{{ path('product_delete', {'id': product.id}) }}"><i class="fa fa-trash" style="color: red"></i>Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">NO RECORDS TO DISPLAY!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>